body {
    background: linear-gradient(#1aaee2, #20d0be);
    /* background: linear-gradient(#1751a7, #2ab6a3); */
    color: white;
    min-height: 100vh;
}

#locationForm {
    display: flex;
}

#weatherContainer {
    padding: 50px 0px;
    margin: 0px 75px;
    max-width: 90%;
    width: 1530px;
}

#weatherOverview {
    border-bottom: 1px solid white;
    display: flex;
}

/* .card {
    display: inline-block;
} */

#currentTemp {
    text-align: center;
    font-size: 100px;
}

.weatherCard {
    background-color: transparent;
    width: 18rem;
}

.weatherDetails {
    display: flex;
    width:100%;
    margin: 25px 75px;
    
}
#weekViewContainer {
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weatherCardContainer {
    padding: 0px 50px;
    float: left;
}

#detailContainer {
    padding-top: 25px;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.detailCard {
    float: left;
}

.detailTitle {
    padding-left: 15px;
}

.center {
    text-align: center;
}