body {
    background-color: #0baed9;
    color: white;
}

#locationForm {
    display: flex;
}

#weatherOverview {
    border-bottom: 1px solid white;
    display: flex;
}

.card {
    display: inline-block;
}

#currentTemp {
    text-align: center;
    font-size: 100px;
}

.weatherCard {
    background-color: transparent;
}

.weatherDetails {
    display: flex;
    width:100%;
    margin: 25px 75px;
    
}
.weekViewContainer {
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dayCard {
    padding: 0px 50px;
    float: left;
}

#weatherContainer {
    padding: 50px 0px;
    margin: 0px 75px;
}

#detailContainer {
    padding-top: 25px;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.detailCard {
    float: left;
}

.detailTitle {
    padding-left: 15px;
}

.center {
    text-align: center;
}